.g100 {font-weight:100}
.g200 {font-weight:200}
.g300 {font-weight:300}
.gregular {font-weight:400}
.g500 {font-weight:500}
.g600 {font-weight:600}
.g700 {font-weight:700}
.g800 {font-weight:800}
.g900 {font-weight:900}
.g100italic {font-weight:100;font-style:italic}
.g200italic {font-weight:200;font-style:italic}
.g300italic {font-weight:300;font-style:italic}
.gitalic {font-weight:400;font-style:italic}
.g500italic {font-weight:500;font-style:italic}
.g600italic {font-weight:600;font-style:italic}
.g700italic {font-weight:700;font-style:italic}
.g800italic {font-weight:800;font-style:italic}
.g900italic {font-weight:900;font-style:italic}
.form-switch label {width:120px}